@import url("https://fonts.googleapis.com/css?family=Montserrat:600&display=swap");
.container {
  max-width: 400px;
  margin: 10vh auto 0 auto;
  border: 12px solid rgb(42, 42, 42);
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;

}
body {
  padding: 25px;
  background-color: white;
  color: black;
  font-size: 25px;
}
.dark-mode {
  background-color: black;
  color: white;
}

#display {
  text-align: right;
  height: 70px;
  line-height: 70px;
  padding: 16px 8px;
  font-size: 25px;
}

.buttons {
  display: grid;
  border-bottom: 1px solid  rgb(42, 42, 42);
  border-left: 1px solid rgb(42, 42, 42);
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.buttons > div {
  border-top: 1px solid  rgb(42, 42, 42);
  border-right: 1px solid#999;
}

.button {
  border: 0.5px solid  rgb(42, 42, 42);
  line-height: 100px;
  text-align: center;
  font-size: 25px;
  cursor: pointer;
}

#equal {
  background-color: rgb(42, 42, 42);
  color: white;
}

span {
  position: relative;
  display: inline-flex;
  width: 180px;
  height: 55px;
  margin: 0 15px;
  perspective: 1000px;
}
span a {
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform 0.25s;
  font-family: "Montserrat", sans-serif;
}
span a:before,
span a:after {
  position: absolute;
  content: "Dark Mode";
  height: 55px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid black;
  box-sizing: border-box;
  border-radius: 5px;
}
span a:before {
  color: #fff;
  background: #000;
  transform: rotateY(0deg) translateZ(25px);
}
span a:after {
  color: #000;
  transform: rotateX(90deg) translateZ(25px);
}
span a:hover {
  transform: translateZ(-25px) rotateX(-90deg);
}
.button:hover {
  background-color: #32333080;
  color: white;
  transition: 0.5s ease-in-out;
}
